@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: Roboto;

  --backgroundColor-hero-footer: #1f2937;
  --heroLogoTextColor: #f9faf8;
  --heroSecondaryTextAndLinkColor: #e5e7eb;
  --informationHeaderTextColor: #1f2937;
  --buttonColor: #3882f6;
  --quoteSectionColor: #e5e7eb;
}

header {
  background-color: var(--backgroundColor-hero-footer);
  color: var(--heroLogoTextColor);
  padding: 1rem;

  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 32px;
    max-width: 900px;
    margin: auto;

    span {
      font-size: 24px;
      color: var(--heroLogoTextColor);
    }

    ul {
      display: flex;
      gap: 1rem;
      list-style-type: none;

      li {
        color: var(--heroSecondaryTextAndLinkColor);
        cursor: pointer;
      }
    }
  }

  .website-intro {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 800px;
    margin: auto;
    height: 400px;

    .about {
      max-width: 500px;

      h1 {
        font-size: 48px;
        font-weight: 900;
      }

      p {
        color: var(--heroSecondaryTextAndLinkColor);
        font-size: 18px;
        margin-bottom: 1rem;
        width: 88%;
      }

      button {
        background-color: var(--buttonColor);
        color: white;
        border: none;
        padding: 0.22rem 1rem;
        border-radius: 4px;
        cursor: pointer;
      }
    }
  }
}

main {
  .information {
    max-width: 800px;
    margin: 16px auto 96px;

    h2 {
      color: var(--informationHeaderTextColor);
      margin-bottom: 1rem;
      text-align: center;
      font-size: 36px;
      font-weight: 900;
    }

    .info-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 1rem;

      .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 1px solid var(--buttonColor);
        padding: 1rem;
        border-radius: 8px;
        max-width: 200px;
        margin: auto;

        img {
          border-radius: 8px;
        }

        p {
          color: var(--informationHeaderTextColor);
          margin-top: 0.5rem;
        }
      }
    }
  }

  .testimonial {
    background-color: var(--quoteSectionColor);
    padding: 2rem;

    .testimony-content {
      max-width: 800px;
      margin: auto;

      p {
        color: var(--informationHeaderTextColor);
        font-style: italic;
        font-size: 36px;
        font-weight: 300;
      }

      h3 {
        color: var(--informationHeaderTextColor);
        text-align: right;
        margin-top: 1rem;
      }
    }
  }

  .actions {
    margin: 2rem 0;

    .callToAction {
      background-color: var(--buttonColor);
      color: white;
      width: 700px;
      margin: auto;
      display: flex;
      border-radius: 8px;
      justify-content: center;
      align-items: center;
      padding: 0.75rem 1.5rem;
      gap: 90px;

      cursor: pointer;

      .text {
        padding: 1rem;

        h4 {
          margin-bottom: 0.5rem;
        }
      }

      button {
        background: none;
        color: white;
        border: 1px solid white;
        padding: 0.22rem 1rem;
        border-radius: 4px;
        cursor: pointer;
      }
    }
  }
}
